.button {
  background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   color: #FFFFFF;
   font-family: Helvetica;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-left: 10px;
   margin-right: 10px;
   width: 80px;
}
.newgame{
  margin-left: 60px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.letters{
  margin-left: 50px;
}
.button-form {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  width: 80px;
  border: solid #686868 1px;
}
.form {
  margin-left: 60px;
}
.question {
  margin-left: 60px;
  margin-top: 40px;
}
.box-play {
  width: 600px;
}
.new {
  margin-top: 40px;
  margin-left: 40px;
}
.result {
  margin-left: 40px;
}
.output {
  margin-left: 40px;
}
